<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Pulse</title>
</head>
<body>
    <div class="Card">
        <div class="Product">
                <img src="/images.png">
                <h2><%= product[0].itemname %></h2>
                <h3><%= product[0].description %></h3>
                <h3><%= product[0].price %>$</h3>
                <h3>Amount of item : <%= product[0].quantity%></h3>
                <h3>Status : <%= product[0].status%></h3>
            </div>
            <form action="/deleteproduct" method="post">
                <input type="hidden" name="product_ID" value=<%= product[0].id %>>
                <input type="submit" value="Delete Product">
            </form>
            <form action="/editproduct" method="post">
                <input type="hidden" name="product_ID" value=<%= product[0].id %>>
                <input type="submit" value="Edit Product">
            </form>
    </div>
</body>
</html>